node_modules
*.log
.DS_Store
bin
addresses-test.json
.coverage*
.env
.env_xdai
address_book
package-lock.json
coverage.json
coverage
*.lock

.openzeppelin/.session
.openzeppelin/metadata-localhost.json
.openzeppelin/addresses-localhost-*.json
.openzeppelin/unknown-31337.json
.openzeppelin/unknown-1337.json
.openzeppelin/*.bak
cache
artifacts
build
typechain
dist
abi
